@model CustomerCRM.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Customer Form</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.FirstName) *
        @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.LastName) *
        @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
    </div>
    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.Email) *
        @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
    </div>

    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.MobileNumber) *
        @Html.TextBoxFor(m => m.Customer.MobileNumber, new { @class = "form-control" })
    </div>
    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.Gender) *
        Male: @Html.RadioButtonFor(m=>m.Customer.Gender, "Male")
        Female: @Html.RadioButtonFor(m=>m.Customer.Gender, "Female")
    </div>
   
    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.DOB) *
        @Html.TextBoxFor(m=>m.Customer.DOB,"{0:d MMM yyyy}",new { @class="form-control"})
    </div>

    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.Address) *
        @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control" })
    </div>

    <div class="form-inline">
        @Html.LabelFor(m => m.Customer.Country) *
        @Html.DropDownListFor(m => m.Customer.CountryId, new SelectList(Model.Countries, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="checkbox">

        @Html.CheckBoxFor(m => m.Customer.IsActive) Is Active
    </div>
@Html.HiddenFor(m=>m.Customer.Id)
<button type="submit" class="btn btn-primary">Save</button>


}

